@charset "utf-8";
body{
    background-color: #fffafa;
}

.sansyou{
    color: #5C3C4C;
    font-weight: bold;
    font-size: 25px; 
    padding-left: 65px;
}

.jouhou{
    color :#5C3C4C;
    font-size: auto;
    padding-left: 15px;
}

.botan{
    background-color: #fdfdfd;
    color: #5C3C4C;
    border-radius: 10px;
    border-color: #8C727F;
    text-align:center;
}