@charset "utf-8";

body{
  background-color: #EEFFFF;
    margin:1em 0;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 50px;
    color: #000;

}


h1{
  background-color: #006400;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}

th, td {
   border: solid 1px;
  }

  table{
    border-collapse: collapse;
  }

  

  img{
    width:150px;
    height:auto;
  }

  .hyouji{
    text-align: center;
  }